<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IntuneConnectorForADExtender.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <IntuneConnectorForADExtender.Service.Properties.Settings>
            <setting name="PSScript" serializeAs="String">
                <value>C:\Program Files\baseVISION\Intune Connector for AD Extender\ODJ-Extender.ps1</value>
            </setting>
            <setting name="EventIdToMonitor" serializeAs="String">
                <value>30130</value>
            </setting>
            <setting name="LogName" serializeAs="String">
                <value>ODJ Connector Service</value>
            </setting>
            <setting name="LogSource" serializeAs="String">
                <value>ODJ Connector Service Source</value>
            </setting>
        </IntuneConnectorForADExtender.Service.Properties.Settings>
    </applicationSettings>
</configuration>